<header>
  <section>
    <div class="left-header">
      <div class="logo-container">
        <img class="logo-img" src="img/logo.png" alt="green beasts logo" />
        <h1>Green Beasts</h1>
      </div>

      <nav>
        <a href="#">Link1</a>
        <a href="#">Link2</a>
        <a href="#">Link3</a>
        <a href="#">Link4</a>
      </nav>
    </div>

    <div class="right-header">
      <a href="#">Suche</a>
      <a href="#">Account</a>
      <a href="#">Wishlist</a>
      <a href="#">Cart</a>
    </div>
  </section>
</header>
