@import "./../../styles.scss";

header {
  max-width: 1450px;
  height: 500px;
  display: flex;
}

.hero-img-left {
  width: 50%;
  object-fit: cover;
  object-position: 0 0%;
}

.hero-img-right {
  width: 50%;
  object-fit: cover;
  object-position: 0 30%;
}

@media (max-width: 760px){
    .hero-img-left{
        width: 100%;
    }
    .hero-img-right{
        display: none;
    }
}